# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
build/
*~

# Virtual Environment
/env


# Colour test personalization

examples/ex_color_detection_image/rodo.jpg
record.txt

# Ignore new photos 
rodo.jpg
rodo_filtered.jpg